<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="3">
    <test thread-count="5" name="Test1">
        <classes>
            <class name="co.uk.automationtesting.OrderCompleteTest">
                <!--methods>
                    <include name="endtoendtest"/>
                </methods-->
            </class>
        </classes>
    </test>
    <test thread-count="5" name="Test2">
        <classes>
            <class name="co.uk.automationtesting.AddOrRemoveItemTest">
                <!--methods>
                    <include name="addOrRemoveItem"/>
                </methods-->
            </class>
        </classes>
    </test>
    <test thread-count="5" name="Test3">
        <classes>
            <class name="co.uk.automationtesting.ShopLoginTest">
                <!--methods>
                    <include name="addOrRemoveItem"/>
                </methods-->
            </class>
        </classes>
    </test>
</suite>